<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <title>Model Training: Home</title>
        <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
        <style>
            .bd-placeholder-img {
              font-size: 1.125rem;
              text-anchor: middle;
              -webkit-user-select: none;
              -moz-user-select: none;
              user-select: none;
            }
      
            @media (min-width: 768px) {
              .bd-placeholder-img-lg {
                font-size: 3.5rem;
              }
            }

            .container {
              max-width: 90%;
            }
        </style>
         <link href="{{ url_for('static', filename='navbar-top-fixed.css') }}" rel="stylesheet">
    </head>
    <body>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
          <div class="container-fluid">
            <a class="navbar-brand">Training Model</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="/trainer">Trainer</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="/list">Processed tweets</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        
      <main class="container">
        <div class="progress mb-3" style="height: 20px;">
          <div class="progress-bar text-white" role="progressbar" style="width :{{ progress }}%" aria-valuemin="0" aria-valuemax="100">{{ ratio }}</div>
        </div>
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm border-success">
              <div class="card-header py-3 text-white bg-success border-success">
                <h4 class="my-0 fw-normal">Positive</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">{{ labels['pos'] }}<small class="text-muted fw-light"> tweets</small></h1>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm border-secondary">
              <div class="card-header py-3 border-light">
                <h4 class="my-0 fw-normal">Neutral</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">{{ labels['neu'] }}<small class="text-muted fw-light"> tweets</small></h1>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm border-danger">
              <div class="card-header py-3 text-white bg-danger border-danger">
                <h4 class="my-0 fw-normal">Negative</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">{{ labels['neg'] }}<small class="text-muted fw-light"> tweets</small></h1>
              </div>
            </div>
          </div>
        </div>
        <div class="row row-cols-md-3 mb-3 text-center justify-content-center">
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm border-secondary">
              <div class="card-header py-3 text-white bg-secondary border-secondary">
                <h4 class="my-0 fw-normal">Unprocessed</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">{{ unprocessed }}<small class="text-muted fw-light"> tweets</small></h1>
              </div>
            </div>
          </div>
        </div>
        <div class="row row-cols-md-3 mb-3 text-center justify-content-center">
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm border-warning">
              <div class="card-header py-3 bg-warning border-warning">
                <h4 class="my-0 fw-normal">Deleted</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">{{ deleted }}<small class="text-muted fw-light"> tweets</small></h1>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="row row-cols-md-3 mb-3 text-center justify-content-center">
          <div class="col d-grid">
            <form method="post" action="/fetch">
              <button class="btn btn-outline-primary" type="submit">Fetch new tweets</button>
            </form>
          </div>
        </div> -->
      </main>
    </body>
</html>